.mobile {
  font-family: "Paperlogy-8ExtraBold";
  width: 400px;
  height: 100vh;
  margin: 0 auto;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(255, 255, 255, 1) 53%
  );
  padding-bottom: 18px;
}

.mobile > img {
  padding-top: 160px;
  margin-left: 18px;
  width: 364px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 18px;
}

.mobileBox {
  width: 364px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg);
  border: none;
  border-radius: 10px;
  margin-bottom: 25px;
}

.infoBox {
  align-items: center;
  display: flex;
  color: var(--gray-5);
  gap: 5px;
  padding: 15px;
}

.infoBox > p {
  font-size: 12px;
}
.two::before {
  padding-right: 20px;
  content: "|";
}

.two::after {
  padding-left: 20px;
  content: "|";
}

.infoBox:last-child::after {
  content: "";
}
