.location {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding: 15px 16px 16px;
  border-top: 1px solid var(--gray-2);
  border-bottom: 1px solid var(--gray-2);
}

.city {
  font-family: "Paperlogy-8ExtraBold";
  color: var(--color-bg);
  background-color: var(--color-accent);
  border: none;
  border-radius: 8px;
  padding: 5px 7px;
}

.movie {
  font-family: "Paperlogy-8ExtraBold";
  font-size: var(--font-size-xs);
  border: 1px solid var(--gray-4);
  border-radius: 5px;
  background-color: inherit;
  color: var(--gray-5);
  padding: 0 5px;
}

.theater {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-bg);
  padding: 20px 0px 30px 0px;
}
.pic {
  border-radius: 10px;
  padding-bottom: 15px;
  padding: 20px;
}

.pic > img {
  width: 364px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 35px;
}

.now {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  width: 364px;
  margin: 0 auto;
}

.now > h2 {
  font-size: var(--font-size-lg);
  color: var(--gray-7);
}

.choice {
  display: flex;
  gap: 5px;
  color: var(--gray-4);
  font-size: var(--font-size-md);
}

.solid::after {
  padding-left: 5px;
  content: "|";
}

.choice > li:hover {
  color: var(--color-primary);
}

.movieBox {
  width: 100%;
  height: fit-content;
  padding: 18px;
  display: flex;
  padding-left: 20px;
  gap: 15px;
  background-color: var(--color-bg);
  overflow: scroll;
  overflow-y: hidden;
}

.movielist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movieBox::-webkit-scrollbar {
  height: 9px;
}

.movieBox::-webkit-scrollbar-thumb {
  background-color: var(--color-bg5);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.movieBox::-webkit-scrollbar-track {
  background-color: var(--color-bg);
  border-radius: 10px;
}

.imgBox {
  position: relative;
}

.imgBox__box {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.imgBox__box > img {
  width: 20px;
  height: 20px;
}

.imgBox > img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}
.movielist > p {
  color: var(--color-accent);
  background-color: inherit;
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  text-align: center;
  padding: 5px 0px;
  font-weight: 600;
}

.Info {
  width: 364px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.Info > h2 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: var(--font-size-lg);
  padding-bottom: 15px;
}

.local {
  padding-top: 15px;
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

.Card {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
  border-radius: 5px;
}

.Card > button {
  font-family: "Paperlogy-8ExtraBold";
  width: fit-content;
  font-size: var(--font-size-sm);
  border: none;
  color: var(--color-text);
  background-color: inherit;
  margin: 10px 0px 15px 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 15px 10px;
  padding-right: 15px;
}

.Card > div > span {
  font-weight: 700;
}

.cardInfo > p {
  color: var(--gray-3);
}

.sub {
  width: 100%;
  background-color: #f2d1f3;
  border: none;
  border-radius: 8px;
  display: flex;
  margin: 30px 0px 60px 0px;
  padding-top: 8px;
}

.subTitle {
  width: 50%;
  background-color: inherit;
  margin: 15px 0px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.subTitle > p {
  font-size: var(--font-size-xs);
}

.sub > section {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.sub > section > i {
  padding-right: 15px;
  color: var(--color-bg);
  font-size: var(--font-size-xl);
}

.chair {
  width: fit-content;
  border-radius: 9999px;
  border: none;
}

.chair > i {
  font-size: var(--font-size-xl);
  padding: 20px 20px;
  color: var(--color-text);
}

.economy {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 12px;
  font-size: var(--font-size-sm);
}

.blank {
  background-color: var(--gray-1);
  height: 10px;
  width: 100%;
}

.way {
  width: 364px;
  margin: 0 auto;
  background-color: var(--color-bg);
  padding-top: 30px;
  padding-bottom: 50px;
}

.way > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.way > section > h2 {
  padding-top: 10px;
  color: var(--color-primary);
  font-weight: 700;
  font-size: var(--font-size-lg);
  padding-bottom: 25px;
}

.way > section > button {
  font-family: "Paperlogy-8ExtraBold";
  width: fit-content;
  border: 1px solid var(--gray-4);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--color-bg);
  font-size: var(--font-size-xs);
  color: var(--color-text);
}

.way > li {
  padding-top: 15px;
  font-size: var(--font-size-xs);
  color: var(--gray-5);
  padding-bottom: 10px;
}

.way > h2 {
  padding-top: 30px;
  color: var(--color-primary);
  font-weight: 700;
  font-size: var(--font-size-lg);
  padding-bottom: 25px;
}

.way > h6 {
  font-size: var(--font-size-sm);
}

.notice {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid var(--gray-2);
}

.date {
  display: flex;
  gap: 5px;
  font-size: var(--font-size-xs);
}

.date > span {
  color: #a1ded2;
}

.date > p::before {
  padding-right: 5px;
  content: "|";
}

.date > p {
  color: var(--gray-3);
}

.notice > p {
  color: var(--gray-3);
  font-size: var(--font-size-xs);
}
